{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    <h1>Blog index</h1>

    {#    <table class="table">#}
    {#        <thead>#}
    {#            <tr>#}
    {#                <th>Id</th>#}
    {#                <th>Moment</th>#}
    {#                <th>Text</th>#}
    {#                <th>Published</th>#}
    {#                <th>actions</th>#}
    {#            </tr>#}
    {#        </thead>#}
    {#        <tbody>#}
    {#        {% for blog in blogs %}#}
    {#            <tr>#}
    {#                <td>{{ blog.id }}</td>#}
    {#                <td>{{ blog.moment ? blog.moment|date('Y-m-d H:i:s T') : '' }}</td>#}
    {#                <td>{{ blog.text }}</td>#}
    {#                <td>{{ blog.published ? 'Yes' : 'No' }}</td>#}
    {#                <td>#}
    {#                    <a href="{{ path('blog_show', {'id': blog.id}) }}">show</a>#}
    {#                    <a href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a>#}
    {#                </td>#}
    {#            </tr>#}
    {#        {% else %}#}
    {#            <tr>#}
    {#                <td colspan="5">no records found</td>#}
    {#            </tr>#}
    {#        {% endfor %}#}
    {#        </tbody>#}
    {#    </table>#}



    {% for blog in blogs %}
        <div>
            <div class="card mb-4 box-shadow ">
                <div class="card-body">
                    <p class="card-text">{{ blog.text }}</p>
                    <p class="card-text">id={{ blog.id }}</p>
                    <p class="card-text">Date:{{ blog.moment ? blog.moment|date('Y-m-d H:i:s T') : '' }} </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                        href="{{ path('blog_show', {'id': blog.id}) }}">show</a></button>
                            <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                        href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a></button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
    <a href="{{ path('blog_new') }}">Create new</a>

{% endblock %}
